<div>
    Content to be swapped in in the specified target
</div>

<div id="oob-target-2" hx-swap-oob="true">
    Content to be swapped in out-of-band (2)
</div>

<div id="oob-target-3" hx-swap-oob="true">
    Content to be swapped in out-of-band (3)
</div>