<div>
    <h1>Shopping Cart</h1>
    <form>
        <section>
            <h2 id=""cart-heading">Items in your shopping cart</h2>
            <div id="product-section">{{> products}}</div>
        </section>

        <section>
            <div id="oder-summary-section">{{> order-summary}}</div>
        </section>
    </form>
</div>