<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Position</th>
            <th>Department</th>
        </tr>
    </thead>
    <tbody>
        {{#employees}}
        <tr>
            <td>{{id}}</td>
            <td>{{name}}</td>
            <td>{{position}}</td>
            <td>{{department}}</td>
        </tr>
        {{/employees}}
    </tbody>
</table>