<div>
    <div hx-get="/event-trigger" hx-trigger="load delay:500ms" hx-target="next div" hx-swap="innerHTML" hx-indicator="#indicator">
        Render Trigger
    </div>
    <div></div>
    <div id="indicator" class="htmx-indicator">Loading...</div>
</div>